<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{logo}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/Home">{{navbarLinks[0]}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/TVShows">{{navbarLinks[1]}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/About">{{navbarLinks[2]}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Contact us">{{navbarLinks[3]}}</a>
                </li>
            </ul>
            <div style="width: 250px; text-align: center;">
                <input placeholder="Search" type="text" [(ngModel)]="searchValue"
                    class="btn btn-outline-success my-2 my-sm-0" />
                <h4>{{ searchValue }}</h4>
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="changeLanguage()">{{language}}</button>
        </div>
    </div>
</nav>