<div class="movie-ticket">
    <div class="container-fluid">
        <div class="ui-item">
            <div class="ui-head">
                <div class="ui-trans clearfix">
                    <img src="{{selectedproduct?.image}}" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h4 class="card-title">{{selectedproduct?.title}}</h4>
                        <p class="card-text">
                            {{selectedproduct?.description}}
                        </p>
                        <p class="card-text">
                            {{selectedproduct?.price}}
                        </p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <img src="{{selectedproduct?.image}}" class="card-img-top" alt="..." />
<div class="card-body">
    <h4 class="card-title">{{selectedproduct?.title}}</h4>
    <p class="card-text">
        {{selectedproduct?.description}}
    </p>
    <p class="card-text">
        {{selectedproduct?.price}}
    </p>
    <a href="#" class="btn btn-primary">Add to cart</a>
</div> -->
<!-- <div class="container">
    <div class="card col-lg-4 mx-2" style="width: 500px">
        <img src="{{selectedproduct?.image}}" class="card-img-top" alt="..." />
        <div class="card-body">
            <h4 class="card-title">{{selectedproduct?.title}}</h4>
            <p class="card-text">
                {{selectedproduct?.description}}
            </p>
            <p class="card-text">
                {{selectedproduct?.price}}
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
</div> -->