<div class="row d-flex justify-content-center">
    <a href="/Mplaying">
        <button style="height: 70px;" class="btn btn-outline-danger col-lg-11 mx-5 mt-5" type="button"> Now Playing
        </button>
    </a>

    <a href="/Mpopular">
        <button style="height: 70px;" class="btn btn-outline-danger col-lg-11 mx-5 mt-5" type="button"> Popular
        </button>
    </a>
    <br>
    <a href="/Mrated">
        <button style="height: 70px;" class="btn btn-outline-danger col-lg-11 mx-5 mt-5 mb-5" type="button"> Top Rated
        </button>
    </a>

    <a href="/Mupcoming">
        <button style="height: 70px;" class="btn btn-outline-danger col-lg-11 mx-5 mb-5" type="button"> Upcoming
        </button>
    </a>
</div>